.auth-container {
  padding: 2rem;
  max-width: 400px;
  margin: 3rem auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.auth-container form input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.auth-container form button {
  width: 100%;
  padding: 0.5rem;
  background-color: #453ba1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.auth-container form button:hover {
  background-color: #264c7c;
}

.auth-container form .guest-login-btn {
  width: 70%;
  margin: 0.75rem auto 0;
  display: block;
}
